div.applicationform label{
    color: #000000;
}
div.applicationform .form-control{
    border: 1px solid #cccccc;
    height:40px !important;
    border-radius: 5px;
}
div.content_area{
    margin-top: 50px;
    margin-bottom: 50px;
}
span.text.address {
    font-size: 12px;
}
li.sub-nav-item ul li {
    list-style-type: none;
}

li.sub-nav-item ul li a {
    color: #000;
}
li.sub-nav-item ul{
    display: none;
}

.navbar-nav {
    flex-direction: unset !important;
}
.navbar-nav .dropdown-menu {
    position: absolute !important;
}
.navbar {
    margin-bottom: 0 !important;
}
.dropdown-menu>li>a {
    padding: 9px 20px;
    font-size: 13px;
}
.navbar-default {
    background-color: #FFF;
    border-color: #FFF;
}
.nav>li>a>img {
    max-width: none;
    max-height: 40px;
}
ul.nav.navbar-nav.logo li a {
    padding-top: 0;
    padding-bottom: 0;
}